body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 4em;
  text-align: center;
}
nav {
  font-size: 1.2em;
}
ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* @media (min-width: 600px) and (max-width: 800px) {
  h1 {
    color: palevioletred;
  }
} */
@media (min-width: 500px) {
  h1 {
    color: yellow;
  }
}
@media (min-width: 1000px) {
  h1 {
    color: orange;
  }
}
@media (min-width: 1500px) {
  h1 {
    color: red;
  }
}
@media (orientation: landscape) {
  body {
    background-color: khaki;
  }
}
